.Container {
    display: flex;
    padding-top: 8rem;
}

.Container button {
    cursor: pointer;
}

.Navegation {
    display: flex;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    align-items: center;
}
.Navegation p {
    font-size: 1.6rem;
    margin: auto 0;
    margin-bottom: .5rem;
}

.Navegation img {
    transform: rotate(-180deg);
    height: 3rem;
    margin-right: 1.5rem;
}

.LeftContainer {
    width: 55%;
    margin-left: 5%;
}

.LeftContainer h2 {
    text-align: left;
    font-family: "Montserrat-ExtraBold";
    font-size:3rem;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: .5rem;

}

.LeftContainer p {
    font-family: "Montserrat-Regular";
    font-size: 1.2rem;
    text-align: left;
    font-weight: 200;
    width: 88%;
    margin-top: .4rem;
    line-height: 1.4;
}

.Description {
    margin-bottom: 3rem;
}

.ButtonsContainer {
    display: flex;
}

.PrimaryButton {
    display: flex;
    background-color: #6F4AE7;
    width: fit-content;
    margin-right: 5rem;
    align-items: center;
    padding-right: .4rem;
    padding-left: .4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;

}


.PrimaryButton:hover {
    background-color: #5e35e4;
}

.PrimaryButton:active {
    background-color: #6F4AE7;
}

.PrimaryButton img {
    height: 1.2rem;
    margin-right: .5rem;
}
.PrimaryButton button {
    background-color: transparent;
    border: 0;
    margin: auto auto;
    font-family: "Montserrat-Medium";
    color: white;
    font-size: 1rem;
}



.SecondaryButton {
    background-color: transparent;
    display: flex;
    border: 2px solid #6F4AE7;
    border-radius: .3rem;
    padding-left: .5rem;
    padding-right: .5rem;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat-Bold";
    font-size: 1rem;
    font-weight: 100;
    color: #6F4AE7;
}

.SecondaryButton:hover {
    background-color: #6F4AE7;
    color: white;
}
.SecondaryButton:active {
    background-color:white;
    color:#6F4AE7;
}

.SecondaryButton img {
    height: 1.4rem;
    margin: auto 0;
    margin-right: 1rem;
    margin-left: .4rem;
}

.TecnologiesContainer {
    margin-top: 2rem;
    width: 100%;
}

.TecnologiesContainer h3 {
    text-align: left;
    font-family: "Montserrat-SemiBold";
    font-size: 2rem;
}

.FrontEndTags {
    display: flex;
    flex-wrap: wrap;
}

.FrontEndTags div {
    background-color: #6F4AE7;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .3rem;

}

.FrontEndTags span {
    font-family: "Montserrat-Medium";
    color: white;
}

.BackEndTags div {
    background-color: #FD6439;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .3rem;

}

.BackEndTags {
    display: flex;
    flex-wrap: wrap;
}

.BackEndTags span {
    font-family: "Montserrat-Medium";
    color: white;
}

.RightContainer {
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: center;
}


.RightContainer img {
    height: 25rem;
    padding-bottom: 3rem;

}
.BackgroundDate {
    width: fit-content;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #fd6439;
    margin-bottom: 3rem;
}
.BackgroundDate p {
    color: white;
    width: fit-content;
    font-size: 1.4rem;
}

@media screen and (max-width: 1060px) {
    .RightContainer img {
        height: 20rem;
    }

    .LeftContainer p {
        font-size: 0.9rem;
    }

    .PrimaryButton {
        margin-right: 3rem;
    }

    .PrimaryButton button{
        font-size: .8rem ;
    }

    .SecondaryButton {
        font-size: .8rem;
    }
}

@media screen and (max-width:900px) {
    .RightContainer {
        display: none;
    }

    .LeftContainer {
        margin: 0 auto;
        width: 75%;
    }

    .LeftContainer p {
        width: 100%;
        
    }

    .TecnologiesContainer {
        transform: scale(.9);
        margin: 0 auto;
    }
}


@media screen and (max-width:600px) {
    .TecnologiesContainer {
        transform: scale(.8);
        
    }
}

@media screen and (max-width:509px) {

    .LeftContainer p {
        font-size: .82rem;
        line-height: 1.5rem;
        text-align: justify;
        word-spacing: -.08rem;
    }

    .TecnologiesContainer h3 {
        font-size: 1.7rem;
    }
    .FrontEndTags {
        font-size: .9rem;
    }

    .BackEndTags {
        font-size: .9rem;
    }
}

@media screen and (max-width:480px) {
    .LeftContainer h2 {
        font-size: 2.5rem;
    }

    .PrimaryButton img {
        height: 1rem;
        margin-right: .5rem;
    }
    .PrimaryButton button {
        font-size: .7rem ;
        
    }
    .SecondaryButton img {
        height: 1rem;
        margin-right: .5rem;
    }
    .SecondaryButton button {
        font-size: .7rem ;
        
    }
}


@media screen and (max-width:360px) {

    .SecondaryButton {
        padding: 0;
    }

    .SecondaryButton img {
        margin-right: 1%;
    }

    .PrimaryButton {
        padding: 0;
        padding-left: 2%;
    }

    .PrimaryButton img {
        margin-right: 1%;
    }
}

