.Container {
    display: flex;
    margin-top: 2rem;
    width: 62%;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    
    
}

.Container img {
    width: 99.5%;
    border: 2px solid #252525;
    border-radius: 0 0 .2rem .2rem;
    margin-bottom: 2rem;
}

.ToolBar {
    width: 100%;
    height: 3rem;
    background: #252525;
    border-radius: .3rem .3rem 0 0;
    display: flex;
    align-items: center;
}

.RedDot {
    width: .9rem;
    height: .9rem;
    background-color: #e06a68;
    border-radius: 2rem;
    margin-right: .4rem;
    margin-left: 1rem;


}

.YellowDot {
    width: .9rem;
    height: .9rem;
    background-color: #ecc368;
    border-radius: 2rem;
    margin-right: .4rem;

}

.GreenDot {
    width: .9rem;
    height: .9rem;
    background-color: #6bb85d;
    border-radius: 2rem;
    margin-right: .4rem;
}

.SearchBar {
    width: 50%;
    height: 1.5rem;
    background-color: #353535;
    border-radius: .3rem;
    margin: 0 auto;
    margin-left: 18%;

}
