.Background {
    background-color: #6F4AE7;
    width: 70%;
    height: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Background p {
    color: white;
    font-family: "Montserrat-Medium";
    font-size: 1.5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}