.MainContainer {
    background-color: #6F4AE7;
    display: flex;
    padding-bottom: 4rem;
}

.LeftContainer {
    width: 50%;
    margin-left: 6rem;
}

.LeftContainer h2 {
    font-family: "Montserrat-ExtraBold";
    color: white;
    font-size:3.5rem;
    font-weight: 200;
    padding-top: 1rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
    text-align: left;
    
}

.LeftContainer h3 {
    color: white;
    font-family: "Montserrat-SemiBold";
    font-size: 2.5rem;
    font-weight: 200;
    width: 30rem;
    text-align: left;
}

.LeftContainer h4 {
    font-family: "Montserrat-Light";
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    text-align: left;
    width: 28rem;
}

.RightContainer {
    width: 50%;
    padding-top: 2rem;
    padding-right: 2rem;
}

.FormContainer {

    background-color: white;
    display: flex;
    flex-direction: column;
    height: 69vh;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2.5rem;
    justify-content: space-between;
    margin-top: 4rem;
    
}

.FormContainer input {
    padding: .2rem;
    padding-left: 1rem;
    border-radius: .6rem;
    border: 0;
    background-color: #f3f3f3;
}

.InputContainer  {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.InputContainer label {
    font-family: "Montserrat-Bold";
    font-size: .9rem;
}

.InputContainer input {
    font-family: "Montserrat-Regular";
    height: 2.2rem;
}

.InputContainer  textarea {
    padding: .2rem;
    padding-left: 1rem;
    border-radius: .6rem;
    border: 0;
    background-color: #f3f3f3;
}

.FormContainer button {
    width: 10rem;
    margin: 0 auto;
    background-color: white;
    border-radius: .3rem;
    padding: .2rem;
    border: 2px solid #6F4AE7;
    color: #6F4AE7;
    font-family: "Montserrat-Bold";
    font-size: 1rem;
    font-weight: 100;
}