.MainContainer {
    background-color: #6F4AE7;
    display: flex;
    padding-bottom: 4rem;
    box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, 0.5);
    height: 90vh;
}

.LeftContainer {
    width: 50%;
    margin-left: 6rem;
    padding-top: 1.5rem;
}

.LeftContainer h2 {
    font-family: "Montserrat-ExtraBold";
    color: white;
    font-size:3.5rem;
    font-weight: 200;
    padding-top: 1rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
    text-align: left;
    
}

.LeftContainer h3 {
    color: white;
    font-family: "Montserrat-SemiBold";
    font-size: 2.5rem;
    font-weight: 200;
    width: 30rem;
    text-align: left;
}

.LeftContainer h4 {
    font-family: "Montserrat-Light";
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    text-align: left;
    width: 28rem;
}

.RightContainer {
    width: 50%;
    padding-top: 2rem;
    padding-right: 2rem;
}

.FormContainer {

    background-color: white;
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 35vw;
    box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 2.5rem;
    justify-content: space-between;
    margin-top: 4rem;
    
}

.FormContainer input {
    padding: .2rem;
    padding-left: 1rem;
    border-radius: .6rem;
    border: 0;
    background-color: #f3f3f3;
}
.FormContainer p {
    font-family: "Montserrat-Regular";
    font-size: .95rem;
    color: #6F4AE7;
    margin-top: 0;
}
.FormContainer button {
    width: 10rem;
    margin: 0 auto;
    background-color: white;
    border-radius: .3rem;
    padding: .2rem;
    border: 2px solid #6F4AE7;
    color: #6F4AE7;
    font-family: "Montserrat-Bold";
    font-size: 1rem;
    font-weight: 100;
    transition: .2s;
    cursor: pointer;
}

.FormContainer button:hover {
    background-color: #6F4AE7;
    color: white;
}
.FormContainer button:active {
    background-color:white;
    color:#6F4AE7;
}

.FormContainer button[disabled] {
    background-color: white;
    border: 2px solid #979595;
    color: #878787;
    cursor: not-allowed;
}
.InputContainer  {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
}

.InputContainer label {
    font-family: "Montserrat-Bold";
    font-size: .9rem;
}

.InputContainer input {
    font-family: "Montserrat-Regular";
    height: 2.2rem;
}

.InputContainer  textarea {
    padding: .2rem;
    padding-left: 1rem;
    border-radius: .6rem;
    border: 0;
    background-color: #f3f3f3;
}


.ModalContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 99;
    background-color: white;
    height: 66vh;
    width: 36vw;
    top: -70vh;
    left: 1.9vw;
    justify-content: center;
}

.Modal {
    font-family: "Montserrat-Bold";
    font-size: 2rem;
    margin: 0 auto;
    width: 55%;
    text-align: center;
    color:  #6F4AE7; 
}

.ModalContainer img {
    height: 4rem;
    width: 4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.ModalContainer button {
    width: 8rem;
    margin: 0 auto;
    background-color: white;
    border-radius: .3rem;
    padding: .2rem;
    border: 2px solid #6F4AE7;
    color: #6F4AE7;
    font-family: "Montserrat-Bold";
    font-size: 1.2rem;
    font-weight: 100;
    transition: .2s;
    cursor: pointer;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.ModalContainer button:hover {
    background-color: #6F4AE7;
    color: white;
}
.ModalContainer button:active {
    background-color: white;
    color: #6F4AE7;
}

@media screen and (min-width: 1920px){
    .LeftContainer {
        margin-left: 12%;
    }
    .LeftContainer h2 {
        font-size: 3.5rem;
    }
    .LeftContainer h3 {
        font-size: 2.5rem
    }
    .LeftContainer h4 {
        font-size: 1.5rem
    }
}

@media screen and (max-width: 1160px) {
    
    .LeftContainer h2 {
        font-family: "Montserrat-ExtraBold";
        color: white;
        font-size:3.2rem;
        font-weight: 200;
        padding-top: 1rem;
        margin-right: 10rem;
        margin-bottom: 4rem;
        text-align: left;
        
    }
    
    .LeftContainer h3 {
        color: white;
        font-family: "Montserrat-SemiBold";
        font-size: 2.5rem;
        font-weight: 200;
        width: 30rem;
        text-align: left;
    }
    
    .LeftContainer h4 {
        font-family: "Montserrat-Light";
        font-size: 1.5rem;
        font-weight: 200;
        color: white;
        text-align: left;
        width: 28rem;
    }
}

@media screen and (max-width: 1156px) {
    .LeftContainer h2 {
        font-size: 3rem;
    }
    .LeftContainer h3 {
        font-size: 2.4rem;
    }
    
    .LeftContainer h4 {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1135px) {
    .FormContainer {
        transform: scale(.95)
    }
}

@media screen and (max-width: 768px ) {
    .LeftContainer {
        width: 46%;
        margin-left: 3.5rem;
    }
    .LeftContainer h2 {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .LeftContainer h3 {
        font-size: 2rem;
        width: 100%;
    }
    
    .LeftContainer h4 {
        font-size: 1.2rem;
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .LeftContainer {
        margin: 0 auto;
        width: 70%;
    }
    .LeftContainer h2 {
        font-size: 3rem;
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    .LeftContainer h3 {
        font-size: 2rem;
        width: 100%;
        text-align: center;

    }
    
    .LeftContainer h4 {
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }

    .MainContainer {
        display: block;
        height: fit-content;
    }
    .RightContainer {
        height: fit-content;
        margin: 0 auto;
        padding: 0;
        width: fit-content;
    }
    .FormContainer {
        margin: 0;
        width: 50vw;
    }
}

@media screen and (max-width: 425px) {
    .LeftContainer h2 {
        font-size: 2.5rem;
    }
    .LeftContainer h3 {
        font-size: 1.6rem;

    }
    
    .LeftContainer h4 {
        font-size: 1rem;
    }
}

