.MainContainer {
    display: flex;
    background-color: white ;
    box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 74vh;
}

.MetaContainer {
    background-color: transparent;
    padding-top: 50rem;
    
}


.LeftContainer {
    width: 50%;
}

.LeftContainer h2 {
    font-family: "Montserrat-ExtraBold";
    font-size:3rem;
    font-weight: 200;
    margin-left: 5.3rem;
    text-align: left;
    margin-top: .5rem;
    
}

.LeftContainer img {
    height: 30rem;
    
}

.RightContainer {
    width: 60%;
}
.RightContainer h3 {
    font-family: "Montserrat-Regular";
    padding-top: 8rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 200;
    width: 85%;
    line-height: 2.5rem;
    
}
@media screen and (min-width:1920px){
    .MainContainer {
        height: 50vh;
    }
    .LeftContainer img {
        height: 35rem;
        position: relative;
        bottom: 7%;
    }

    .RightContainer h3 {
        font-size: 2rem;
        line-height: 3rem;
        width: 80%;
    }
    .LeftContainer h2 {
        font-size: 3.5rem;
        margin-right: 42%;
    }
}

@media screen and (max-width:1150px) {
    .RightContainer h3 {
        font-size: 1.3rem;
    }

    .LeftContainer img {
        height: 25rem;
    }
}

@media screen and (max-width:800px) {
    .RightContainer h3 {
        font-size:  1.1rem;
    }
}