.MainContainer {
    display: flex;
    background-color: white ;
    box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 74vh;
}

.MetaContainer {
    background-color: transparent;
    padding-top: 50rem;
    
}


.LeftContainer {
    width: 50%;
}

.LeftContainer h2 {
    font-family: "Montserrat-ExtraBold";
    font-size:3rem;
    font-weight: 200;
    margin-right: 10rem;
    margin-bottom: 0;
    margin-top: .5rem;
    
}

.LeftContainer img {
    height: 30rem;
    
}

.RightContainer {
    width: 60%;
}
.RightContainer h3 {
    font-family: "Montserrat-Regular";
    padding-top: 9rem;
    padding-left: 2rem;
    font-size: 1.6rem;
    text-align: left;
    font-weight: 200;
    width: 85%;
    
}
