.MainContainer {
    display: flex;
    background-color: white ;
    box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 74vh;
}

.MetaContainer {
    background-color: transparent;
    padding-top: 50rem;
    
}


.LeftContainer {
    width: 50%;
}

.LeftContainer h2 {
    font-family: "Montserrat-ExtraBold";
    font-size:3rem;
    font-weight: 200;
    margin-left: 5.3rem;
    text-align: left;
    margin-top: .5rem;
    
}

.LeftContainer img {
    height: 23rem;
}

.RightContainer {
    width: 50%;
}
.RightContainer h3 {
    font-family: "Montserrat-Medium";
    padding-top: 10rem;
    margin: 0 auto;
    padding-left: 0rem;
    font-size: 2rem;
    text-align: left;
    font-weight: 200;
    width: fit-content;
    padding-right: 10%;
    padding-left: 5%;
    line-height: 3rem;
}

@media screen and (min-width:1920px) {
    .MainContainer {
        height: 50vh;
    }
    .LeftContainer img {
        height: 25rem;
        position: relative;
        bottom: 3%;
    }
    .LeftContainer h2 {
        font-size: 3.5rem;
    }
    
    .RightContainer {
        display: flex;
        align-items: center;
    }
    .RightContainer h3 {
        padding: 0;
        font-size: 2.6rem;
        line-height: 3.5rem;
    }
}

