.MainContainer {
    display: flex;
    background-color: white ;
    box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 74vh;
}

.MetaContainer {
    background-color: transparent;
    padding-top: 50rem;
    
}

.LeftContainer {
    width: 50%;
}

.LeftContainer h2 {
    font-family: "Montserrat-ExtraBold";
    font-size:3rem;
    font-weight: 200;
    margin-left: 5.3rem;
    text-align: left;
    margin-top: .5rem;
    
}

.LeftContainer img {
    height: 22rem;
}

.RightContainer {
    padding-top: 7.5rem;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 4rem;
    margin-left: 2rem;
    
}
@media screen and (min-width:1920px) {
    .MainContainer {
        height: 50vh;
    }
    .LeftContainer img {
        height: 27rem;
        margin-right: 5%;
        position: relative;
        bottom: 2%;
    }
    .RightContainer {
        padding-top: 9.2rem;
    }
    .LeftContainer h2 {
        font-size: 3.5rem;
        margin-left: 5.3rem;
    }
}

@media screen and (max-width:1000px) {

    .MainContainer {
        display: flex;
        flex-direction: column;
    }

    .LeftContainer {
        width: 100%;
    }

    .LeftContainer img {
        border-radius: 90%;
        height: 15rem;
        margin-top: 1vh;
    }

    .LeftContainer h2 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 2vh;
    }

    .RightContainer {
        width: 90%;
        justify-content: center;
        padding: 0;
        margin: 0 auto;

    }

    .RightContainer {
        transform: scale(.7);
        padding-bottom: -auto;
    }
}

@media screen and (max-width: 690px) {
    .RightContainer {
        width: 85%;
    }
    .LeftContainer img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 690px) {
    .LeftContainer img {
        height: 12rem;
        margin-top: 2vh;
    }
}

@media screen and (max-width:539px) { 
    
    .LeftContainer h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 370px) {
    .RightContainer {
        transform: scale(.6);
    }
}

