.MainContainer {
    /* background-color: #6F4AE7; */
    background-color: white;
    padding-top: .1rem; 
    box-shadow: 0px -4px 6px -3px rgba(0, 0, 0, 0.5);
    
}

.MainContainer h2 {
    color: black;
    font-family: "Montserrat-ExtraBold";
    font-size:3rem;
    font-weight: 200;
    margin-right: 10rem;
    padding-left: 6rem;
    text-align: left;
}

.MainContainer .Portfolio h2 {
    color: white;
}

.BarsContainer {
    /* display: flex; */
}

.Portfolio {
    display: flex;
    background-color: black;
    height: 10rem;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.Portfolio h2 {
    margin-left: 24%;
    font-size: 2.5rem;
}

.MuscleLab {
    background-color: #003566;
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.MuscleLab h2{
    font-family: 'Montserrat-Bold';
    color: #ffffff;
    width: 3rem;
    margin-left: 37%;
}

.MuscleLab .IconMan{
    position: absolute;
    z-index: 0;
    height: 8rem;
    width: 8rem;
    margin-left: 36.2%;

}

.MuscleLab .IconWeight{
    position: absolute;
    height: 4rem;
    margin-top: 3rem;
    margin-left: 52%;
}

.DoggoFinder {
    background-color: #FFE5D9;
    height: 10rem;
    width: 100%;
    display: flex;
    cursor: pointer;

}

.DoggoFinder img {
    height: 7.5rem;
    transform: rotate(-90deg);
    margin-left: 42%;
    margin-top: 1rem;
}
.DoggoFinder h2 {
    position: absolute;
    color: #462f2f;
    font-family: 'Montserrat-ExtraBold';
    align-items: center;
    margin-left: 44%;
    margin-top: 6.2rem;
    transform: rotate(-90deg);
    font-size: 2.5rem;
}