.Prueba {
  background-color: red;
  width: 0; /* Cambia el ancho inicial a 0 */
  height: .5vh;
  position: fixed;
  z-index: 6;
  animation: loading 2s linear forwards; /* Nombre de la animación, duración y función de aceleración */
}
@keyframes loading {
    from {
      width: 0; /* Ancho inicial de la barra de carga */
    }
    to {
      width: 100%; /* Ancho final de la barra de carga */
    }
  }
  


.Header {
    position: fixed;
    z-index: 5;
    background-color: white;
    display: flex;
    width: 100%;
    box-shadow: 0 .4rem 0.4rem rgba(99, 99, 99, 0.6);
    align-items: center;
}

.NavBarOptions {
    font-family: "Montserrat-Bold";
    list-style: none;
    display: flex;
    width: fit-content;
    gap: 10%;
}

.NavBarOptions li {
    min-width: 7rem;
    cursor: pointer;
}

.Logo {
    background-color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    height: 2rem;
    cursor: pointer;
    width: fit-content;
}

.Logo h2 {
    color: white;
    font-family: "Montserrat-ExtraBold";
    font-size: 1.3rem;
    margin: 0;
    height: 100%;
    line-height: 2rem;
    white-space: nowrap;
    
}

.LogosContainer {
    display: flex;
    align-items: center;
    height: fit-content;
    margin-right: 2rem;
}

.LogosContainer img {
    margin-left: 1.5rem;
    height: 3rem;
}

.Header button {
    width: 5%;
    margin-left: auto;
    background-color: white;
    border-radius: .3rem;
    padding: .2rem;
    border: 2px solid #6F4AE7;
    color: #6F4AE7;
    font-family: "Montserrat-Bold";
    font-size: .8rem;
    transition: .3s;
    cursor: pointer;
}

.Header button:hover {
    background-color: #6F4AE7;
    color: white;
}
.Header button:active {
    background-color:white;
    color:#6F4AE7;
}

.Label {
    display: none;
    cursor: pointer;
}

.Checkbox {
    display: none;
}

.DropMenuMobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    display: none;
    z-index: 99999;
    width: 40vw;
    border-radius: .6rem;
    box-shadow: 0 .4rem 0.4rem rgba(99, 99, 99, 0.7);
    margin-top: .5vh;
}
.DropMenuMobile li {
    list-style: none;
    font-family: "Montserrat-Bold";
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.DropMenuMobile li:hover {
    text-shadow: 0 0 .8px rgb(28, 27, 27);
}

.DropMenuMobile ul {
    padding: 0;
}

@media screen and (max-width: 1140px) {
    .Logo {
        transform: scale(.8);
    }
    .NavBarOptions {
        gap: 5%;
    }
}

@media screen and (max-width: 1100px) {
    .NavBarOptions {
        transform: scale(.85);
        padding: 0;
    }

    .Header button {
        transform: scale(.85);
        width: 6%;
    }

    .LogosContainer {
        transform: scale(.85);
        margin: 0;
    }

    .LogosContainer img {
        margin-left: 2%;
    }
}

@media screen and (max-width: 850px) {
    .Label {
        display: initial;
        width: fit-content;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .Label img {
        height: 2rem;
    }

    .LogosContainer {
        display: none;
    }

    .NavBarOptions {
        display: none;
    }

    .Checkbox:checked ~ .DropMenuMobile {
        display: initial;
        
    }
    .Header button {
        width: 15%;
    }

}


@media screen and (max-width: 500px) {
    .Logo {
        transform: scale(.7);
    }
}

@media screen and (max-width: 410px) {

    .Header {
        display: flex;
    }
    .Logo {
        margin-left: 0;
        padding-left: 1%;
        padding-right: 1%;
    }

}

@media screen and (max-width: 390px) {
    .Logo {
        transform: scale(.62);
        position: relative;
        left: -10%;
    }
    .Label img {
        height: 1.5rem;
    }
    .Label {
        margin-right: 5%;
    }

    .Header button {
        transform: scale(.8);
    }
}


